
%config CONFIG_LIBTINYGL
    desc Enable TinyGL, a very small implementation of a subset of OpenGL*
    desc See http://bellard.org/TinyGL/
    module libtinygl
    flags auto
    depend CONFIG_LIBM
    depend CONFIG_LIBC_STREAM_STD
%config end

%config CONFIG_LIBTINYGL_VGAFB
    parent CONFIG_LIBTINYGL
    desc Use the VGA (mode 13h) framebuffer device as backend for TinyGL
%config end
