
######################################################################
# User definable tokens

%config CONFIG_CPU_MIPS32EL_SOCLIB
  desc Little endian Mips32 processor
  flags harddep
  parent CONFIG_CPU_MIPS
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_CPU_MIPS_VERSION=32
  provide CONFIG_CPU_NAME=mips32el
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_MIPS_FPU=32
%config end

%config CONFIG_CPU_MIPS32EB_SOCLIB
  desc Big endian Mips32 processor
  flags harddep
  parent CONFIG_CPU_MIPS
  provide CONFIG_CPU_ENDIAN_BIG
  provide CONFIG_CPU_MIPS_VERSION=32
  provide CONFIG_CPU_NAME=mips32eb
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_SMP_CAPABLE
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_MIPS_FPU=32
%config end

%config CONFIG_CPU_MIPS_ABI_O32
  desc Mips processor abi is Old 32
  parent CONFIG_CPU_MIPS
  when CONFIG_CPU_MIPS_ABI_O64! CONFIG_CPU_MIPS_ABI_N32! CONFIG_CPU_MIPS_ABI_EABI!
%config end

%config CONFIG_CPU_MIPS_ABI_O64
  desc Mips processor abi is Old 64
  parent CONFIG_CPU_MIPS
%config end

%config CONFIG_CPU_MIPS_ABI_N32
  desc Mips processor abi is New 32
  parent CONFIG_CPU_MIPS
%config end

%config CONFIG_CPU_MIPS_ABI_EABI
  desc Mips processor abi is Ext ABI
  parent CONFIG_CPU_MIPS
%config end

######################################################################
# Provided tokens, not definable by user directly

%config CONFIG_CPU_MIPS
  desc Mips processors support
  parent CONFIG_CPU_META
  flags internal private
  module cpu Hexo

  when CONFIG_CPU_MIPS32EL_SOCLIB
  when CONFIG_CPU_MIPS32EB_SOCLIB

  single CONFIG_CPU_MIPS_ABI_O32 CONFIG_CPU_MIPS_ABI_O64 CONFIG_CPU_MIPS_ABI_N32 CONFIG_CPU_MIPS_ABI_EABI
  require CONFIG_CPU_MIPS_VERSION
  provide CONFIG_LIBC_STRING_ASM
  provide CONFIG_CPU_RESET_ADDR=0xbfc00000
  provide CONFIG_CPU_RESET_SIZE=0x2000
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x00001000
  provide CONFIG_HEXO_STACK_ALIGN=8
  provide CONFIG_CPU_ARCHNAME=mips
%config end

%config CONFIG_CPU_MIPS_FPU
  desc Mips FPU register width
  flags value
  parent CONFIG_CPU_MIPS
%config end

%config CONFIG_CPU_MIPS_VERSION
  desc Mips processor ISA version:
  desc r2000 r3000 (1), r6000 (2), r4000 (3),
  desc r5000 (4), r8000 (4), r10000 (4), mips32 (32), mips32r2 (322), mips64 (64)
  flags value internal private
  parent CONFIG_CPU_MIPS
%config end

%config CONFIG_CPU_MIPS_USE_ERET
  parent CONFIG_CPU_MIPS
  desc Mips processor use eret instruction instead of rfe
  when CONFIG_CPU_MIPS_VERSION>2
%config end

