
%config CONFIG_DRIVER_BLOCK_EMU
  desc enable emu block device support
  require CONFIG_DRIVER_BLOCK_EMU_BLOCKSIZE
  provide CONFIG_DRIVER_BLOCK
  parent CONFIG_DEVICE
%config end

%config CONFIG_DRIVER_BLOCK_EMU_BLOCKSIZE
  parent CONFIG_DRIVER_BLOCK_EMU
  flags value
  desc block device block size in bytes
  default 512
%config end

