
%config CONFIG_VFS
  desc Enable virtual file system support
  module libvfs Virtual File System
  require CONFIG_VFS_NAMELEN
  depend CONFIG_MUTEK_SEMAPHORE
%config end

%config CONFIG_VFS_NAMELEN
  parent CONFIG_VFS
  flags value
  default 32
  desc Maximum file name length stored in vfs node. Longer on disk file names will be seen mangled.
%config end

%config CONFIG_VFS_VERBOSE
  parent CONFIG_VFS
  desc Print some vfs debugging informations
%config end

%config CONFIG_VFS_STATS
  parent CONFIG_VFS
  desc Gather statistics about VFS operations
%config end

%config CONFIG_VFS_GLOBAL_ROOT
  parent CONFIG_VFS
  desc Whether root node is global or CONTEXT_LOCAL
  default defined
%config end

%config CONFIG_VFS_GLOBAL_CWD
  parent CONFIG_VFS
  desc Whether current working directory node is global or CONTEXT_LOCAL
  default defined
%config end
