
%config CONFIG_CPU_LM32_SOCLIB
  desc SoCLib Lm32
  flags harddep
  parent CONFIG_CPU_LM32
  depend CONFIG_ARCH_SOCLIB
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_CACHE_LINE=4
  provide CONFIG_CPU_NAME=lm32
#  depend CONFIG_COMPILE_SOFTFLOAT
%config end

%config CONFIG_CPU_LM32
  desc Lm32 processors support
  parent CONFIG_CPU_META
  flags internal private

  when CONFIG_CPU_LM32_SOCLIB

  module cpu Hexo
  depend CONFIG_ARCH_SOCLIB
  provide CONFIG_CPU_NAME=lm32
  provide CONFIG_CPU_RESET_ADDR=0x00000000
  provide CONFIG_CPU_RESET_SIZE=256
  provide CONFIG_CPU_ENDIAN_BIG
  provide CONFIG_CPU_EXCEPTION_FIXED_ADDRESS=0x0
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x0000100
  provide CONFIG_HEXO_STACK_ALIGN=4
  provide CONFIG_CPU_ARCHNAME=lm32
  require CONFIG_HEXO_STACK_ALIGN>=4

  exclude CONFIG_HEXO_USERMODE
  exclude CONFIG_HEXO_FPU
%config end

%config CONFIG_CPU_LM32_BARREL_SHIFT
  parent CONFIG_CPU_LM32
  desc Use lm32 processor with barrel shifter instructions enabled
  default defined
%config end

%config CONFIG_CPU_LM32_DIVIDE
  parent CONFIG_CPU_LM32
  desc Generate code for lm32 processor with divide instructions enabled
  when CONFIG_CPU_LM32_SOCLIB
%config end

%config CONFIG_CPU_LM32_MULTIPLY
  parent CONFIG_CPU_LM32
  desc Generate code for lm32 processor with multiply instructions enabled
  when CONFIG_CPU_LM32_SOCLIB
%config end

%config CONFIG_CPU_LM32_SIGN_EXTEND
  parent CONFIG_CPU_LM32
  desc Generate code for lm32 processor with sign extension instructions enabled
  when CONFIG_CPU_LM32_SOCLIB
%config end

%config CONFIG_CPU_LM32_IRQ_COUNT
  parent CONFIG_CPU_LM32
  flags value
  desc Lm32 processor irq lines count
  default 1
%config end
