
%config CONFIG_PTHREAD
  desc Enable POSIX thread support
  flags auto
  require CONFIG_PTHREAD_STACK_SIZE
  depend CONFIG_MUTEK_SCHEDULER
  module libpthread Pthread library
%config end

%config CONFIG_PTHREAD_STACK_SIZE
  desc Size of the stack allocated for each pthread. Stack size is specified in stack bytes count.
  flags value maxval
  parent CONFIG_PTHREAD
  default 4096
%config end

%config CONFIG_PTHREAD_MAIN
  desc Provide a standard main(argc, argv) function with a pthread context, defines app_start();
  parent CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_CHECK
  desc Enable extensive error checking for pthread API
  when CONFIG_DEBUG
  parent CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_RWLOCK
  flags auto
  desc Enable pthread_rwlock_* primitives
  parent CONFIG_PTHREAD
  depend CONFIG_MUTEK_RWLOCK
%config end

%config CONFIG_PTHREAD_SPIN
  flags auto
  desc Enable pthread_spin_* primitives
  parent CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_COND
  desc Enable pthread_cond_* primitives
  parent CONFIG_PTHREAD
  when CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_BARRIER
  desc Enable pthread_barrier_* primitives
  parent CONFIG_PTHREAD
  when CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_BARRIER_SPIN
  desc Provide barrier spin implementation
  parent CONFIG_PTHREAD_BARRIER_ATTR
%config end

%config CONFIG_PTHREAD_CANCEL
  desc Enable pthread_cancel support
  parent CONFIG_PTHREAD
  when CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_JOIN
  desc Enable joinable pthread support
  parent CONFIG_PTHREAD
  when CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_MUTEX
  desc Enable pthread_mutex_* primitives
  parent CONFIG_PTHREAD
  when CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_MUTEX_ATTR
  desc Provide pthread mutex attributes support
  parent CONFIG_PTHREAD_MUTEX
  when CONFIG_PTHREAD_MUTEX
%config end

%config CONFIG_PTHREAD_BARRIER_ATTR
  desc Provide pthread barrier attributes support
  parent CONFIG_PTHREAD_BARRIER
  default undefined
%config end

%config CONFIG_PTHREAD_ATTRIBUTES
  desc Provide pthread thread attributes support
  parent CONFIG_PTHREAD
  when CONFIG_PTHREAD
%config end

%config CONFIG_PTHREAD_ONCE
  desc Provide support for pthread_once()
  parent CONFIG_PTHREAD
  depend CONFIG_PTHREAD_MUTEX
%config end

%config CONFIG_PTHREAD_KEYS
  desc Provide support for pthread_key_* functions
  parent CONFIG_PTHREAD
  depend CONFIG_PTHREAD_MUTEX
%config end

%config CONFIG_PTHREAD_KEYS_MAX
  desc Maximum number of pthread_key usable at the same time
  flags value maxval
  parent CONFIG_PTHREAD_KEYS
  default 1
%config end

%config CONFIG_PTHREAD_KEYS_DESTRUCTOR_ITERATIONS
  desc Maximum number of pthread_key iterations for destruction of keyed data
  flags value maxval
  parent CONFIG_PTHREAD_KEYS
  default 1
%config end

%config CONFIG_PTHREAD_TIME
  desc Provide support for timed primitives
  parent CONFIG_PTHREAD
  depend CONFIG_MUTEK_TIMER_EVENTS
%config end
