
%config CONFIG_ARCH_SOCLIB
  desc SocLib platform support
  parent CONFIG_ARCH_META
  module arch Hexo
  provide CONFIG_ARCH_NAME=soclib
  provide CONFIG_ARCH_SMP_CAPABLE
  require CONFIG_ROM_ADDR
  require CONFIG_ROM_SIZE
  require CONFIG_RAM_ADDR
  require CONFIG_RAM_SIZE
%config end

%config CONFIG_SOCLIB_EARLY_CONSOLE
  desc enable SoCLib early console TTY before device initialization
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_SOCLIB
  require CONFIG_SOCLIB_EARLY_CONSOLE_ADDR
%config end

%config CONFIG_SOCLIB_EARLY_CONSOLE_ADDR
  desc SoCLib early console TTY address
  parent CONFIG_SOCLIB_EARLY_CONSOLE
  flags value
%config end

%config CONFIG_ARCH_SOCLIB_VCACHE_32
  desc SocLib VCache with 32 bit physical address
  exclude CONFIG_ARCH_SOCLIB_VCACHE_40
  provide CONFIG_HEXO_MMU_PADDR=32
  provide CONFIG_HEXO_MMU_VADDR=32
  require CONFIG_HEXO_MMU_PAGESIZE=4096
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_ARCH_SOCLIB_VCACHE_40
  desc SocLib VCache with 40 bit physical address
  exclude CONFIG_ARCH_SOCLIB_VCACHE_32
  provide CONFIG_HEXO_MMU_PADDR=40
  provide CONFIG_HEXO_MMU_VADDR=32
  require CONFIG_HEXO_MMU_PAGESIZE=4096
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_ARCH_SOCLIB_RAMLOCK
  desc Enable use of ramlock devices instead of cpu atomic operations
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_SOCLIB_MEMCHECK
  desc Enable instrumentation with the SocLib memory checker ISS wrapper
  parent CONFIG_ARCH_SOCLIB
  depend CONFIG_MUTEK_MEMALLOC_SMART CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
%config end

%config CONFIG_SOCLIB_MEMCHECK_ADDRESS
  desc Memory check address
  flags value
  default 0x00000400
  parent CONFIG_SOCLIB_MEMCHECK
%config end

%config CONFIG_SOCLIB_VMEM_MALLOC_REGION_SIZE
  desc Initial memory allocation region size in bytes. Must be at least equal to the number of physical page available in memory * 4 (to hold pointers to the physical pages).
  default 0x8000
  flags value
  parent CONFIG_ARCH_SOCLIB
%config end

%config CONFIG_ARCH_SOCLIB_BOOTLOADER_MUTEKH
  desc Support to be bootloaded by MutekH
  default undefined
  parent CONFIG_ARCH_SOCLIB
  provide CONFIG_ARCH_BOOTLOADER
%config end
