
%config CONFIG_DRIVER_ICU_SOCLIB_XICU
  desc enable Xicu SocLib interrupt controller unit support
  when CONFIG_ARCH_SOCLIB CONFIG_ARCH_SMP CONFIG_HEXO_IPI
  depend CONFIG_ARCH_SOCLIB
  depend CONFIG_HEXO_IRQ
  provide CONFIG_DRIVER_ICU
  provide CONFIG_DRIVER_ICU_IPI
  parent CONFIG_DEVICE
%config end

