
%config CONFIG_MUTEK
  desc MutekH kernel core
  module mutek Mutek
  flags mandatory
  single CONFIG_MUTEK_MEMALLOC_SIMPLE CONFIG_MUTEK_MEMALLOC_SMART CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
%config end

%config CONFIG_MUTEK_MAIN
  desc Enable Mutek global intialization. provide mutek_main() and mutek_main_smp() functions.
  desc Can be disabled if application code handle all the initialization stuff.
  default defined
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_CONSOLE
  desc Enable text console support
  when CONFIG_DRIVER_CHAR
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_EARLY_CONSOLE
  desc Indicate early primitive text console is used at startup
  parent CONFIG_MUTEK
  flags meta
%config end

%config CONFIG_MUTEK_TIMER
  desc Provide a general purpose fraction of second timer
  when CONFIG_DRIVER_TIMER
  require CONFIG_MUTEK_TIMER_UNIT
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_TIMER_UNIT
  desc Specify base unit used by general purpose timer in second
  flags value
  default 1e-3
  parent CONFIG_MUTEK_TIMER
%config end

%config CONFIG_MUTEK_TIMER_EVENTS
  desc Specify that general purpose timer handle events
  desc (timer may only be used to read timestamp values)
  default defined
  parent CONFIG_MUTEK_TIMER
%config end

%config CONFIG_MUTEK_LOGO
  desc Add builtin MutekH logo bitmap to the kernel
  depend CONFIG_DRIVER_FB
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_NUMA
  desc Support of non uniform memory access platform
  depend CONFIG_MUTEK_MEMALLOC_SMART
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_PRINTK
  desc Provide printk() for kernel messages
  default defined
  parent CONFIG_MUTEK
  depend CONFIG_LIBC_FORMATTER_PRINTF
%config end

%config CONFIG_MUTEK_PRINTK_HEXDUMP
  desc Provide hexdumpk() for kernel diagnostic
  parent CONFIG_MUTEK_PRINTK
  depend CONFIG_LIBC_FORMATTER_HEXDUMP
%config end

%config CONFIG_MUTEK_PRINTK_LOCK
  desc Use spinlock to protect printk() calls and avoid output mess.
  desc May change code behavior and hide potential issues.
  parent CONFIG_MUTEK_PRINTK
%config end

%config CONFIG_MUTEK_PRINTK_KEEP_EARLY
  desc Instruct to keep using early console for printk once a legacy console driver is available
  parent CONFIG_MUTEK_PRINTK
  depend CONFIG_MUTEK_EARLY_CONSOLE
%config end

%config CONFIG_MUTEK_SMP_APP_START
  desc let all processors enter app_start function
  parent CONFIG_MUTEK
%config end

######################################################################
#		Vmem

%config CONFIG_VMEM
  desc Provide virtual memory support
  flags auto
  depend CONFIG_HEXO_MMU
  depend CONFIG_VMEM_PHYS_ALLOC
  depend CONFIG_VMEM_KERNEL_ALLOC
  exclude CONFIG_MUTEK_MEMALLOC_SIMPLE
  parent CONFIG_MUTEK
%config end

%config CONFIG_VMEM_PHYS_ALLOC
  desc Provide physical page allocator for virtual memory
  flags auto
  parent CONFIG_VMEM
%config end

%config CONFIG_VMEM_KERNEL_ALLOC
  desc Provide kernel virtual address space allocator
  flags auto
  parent CONFIG_VMEM
  depend CONFIG_HEXO_MMU
  depend CONFIG_VMEM_PHYS_ALLOC
%config end

######################################################################
#		Scheduler

%config CONFIG_MUTEK_SCHEDULER
  desc Hexo scheduler feature is enabled
  flags auto
  require CONFIG_MUTEK_SCHEDULER_IDLE_STACK_SIZE
  single  CONFIG_MUTEK_SCHEDULER_MIGRATION CONFIG_MUTEK_SCHEDULER_STATIC
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_SCHEDULER_PREEMPT
  desc Scheduler preemptive context switch is triggered as a periodic event
  parent CONFIG_MUTEK_SCHEDULER
  depend CONFIG_DRIVER_TIMER
  depend CONFIG_HEXO_CONTEXT_PREEMPT
%config end

%config CONFIG_MUTEK_SCHEDULER_MIGRATION
  desc Scheduler algorithm use permanent context migration among available processors
#  when CONFIG_MUTEK_SCHEDULER CONFIG_MUTEK_SCHEDULER_STATIC!
  when CONFIG_MUTEK_SCHEDULER_STATIC!
  parent CONFIG_MUTEK_SCHEDULER
%config end

%config CONFIG_MUTEK_SCHEDULER_STATIC
  desc Scheduler algorithm use per cpu context list
  parent CONFIG_MUTEK_SCHEDULER
%config end

%config CONFIG_MUTEK_SCHEDULER_MIGRATION_AFFINITY
  desc Handle scheduler context cpu affininty in migration mode
  parent CONFIG_MUTEK_SCHEDULER_MIGRATION
  depend CONFIG_ARCH_SMP
%config end

%config CONFIG_MUTEK_SCHEDULER_IDLE_STACK_SIZE
  desc Size of the stack allocated for idle scheduler context.
  desc Stack size is specified in stack bytes count.
  flags value
  parent CONFIG_MUTEK_SCHEDULER
  default 2048
%config end

%config CONFIG_MUTEK_SCHEDULER_CANDIDATE_FCN
  desc Enables sched_context_candidate_fcn(), uses an external function to check if a running thread must be selected
  parent CONFIG_MUTEK_SCHEDULER
%config end

%config CONFIG_MUTEK_RWLOCK
  depend CONFIG_MUTEK_SCHEDULER
  flags auto
  parent CONFIG_MUTEK
  desc Provide read/write locks based on hexo scheduler
%config end

%config CONFIG_MUTEK_SEMAPHORE
  depend CONFIG_MUTEK_SCHEDULER
  flags auto
  parent CONFIG_MUTEK
  desc Provide generic semaphore on hexo scheduler
%config end

######################################################################
#		Memory allocator

%config CONFIG_MUTEK_MEM_REGION
  desc Enable use of memory region handler.
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEM_REGION_AUTO_INIT
  desc Enable memory region allocator initialization. If disabled, you need to initialized memory region allocator yourself. 
  parent CONFIG_MUTEK_MEM_REGION
  default defined
%config end

%config CONFIG_MUTEK_MEMALLOC_SIMPLE
  desc Enable use of simple memory allocation algorithm.
  desc Incremental memory allocation without freeing.
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
  desc Enable use of experimental memory allocation algorithm.
  single CONFIG_MUTEK_MEMALLOC_ALGO_FIRSTFIT CONFIG_MUTEK_MEMALLOC_ALGO_BESTFIT
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_SMART
  desc Enable use of memory allocation algorithm.
  when CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL! CONFIG_MUTEK_MEMALLOC_SIMPLE!
  single CONFIG_MUTEK_MEMALLOC_ALGO_FIRSTFIT CONFIG_MUTEK_MEMALLOC_ALGO_BESTFIT
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_ALGO_FIRSTFIT
  desc select memory allocation algorithm first fit
  parent CONFIG_MUTEK_MEMALLOC_SMART CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
  default defined
%config end

%config CONFIG_MUTEK_MEMALLOC_ALGO_BESTFIT
  desc select memory allocation algorithm best fit
  parent CONFIG_MUTEK_MEMALLOC_SMART CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
%config end

%config CONFIG_MUTEK_MEMALLOC_ALIGN
  desc Memory allocation block address alignment
  flags value
  default 0x20
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_SCRAMBLE
  desc When enabled all allocated and freed memory blocks will filled be with 0x5a and 0xa5 bytes
  when CONFIG_DEBUG
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_SCRAMBLE_INIT
  desc When enabled regions will filled be with 0x5a bytes
  when CONFIG_DEBUG
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_STATS
  desc keep stats about allocated blocks count and size
  depend CONFIG_MUTEK_MEMALLOC_SMART
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_CRC
  desc When enabled all memory block headers will include a CRC32
  depend CONFIG_MUTEK_MEMALLOC_SMART CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
  when CONFIG_DEBUG
  depend CONFIG_LIBCRYPTO_CRC32
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_GUARD
  desc Add a guard zone before and after each allocated block.
  desc All guard zone content can be check with the mem_guard_check() function to detect bad memory write access.
  depend CONFIG_MUTEK_MEMALLOC_SMART CONFIG_MUTEK_MEMALLOC_EXPERIMENTAL
  when CONFIG_DEBUG
  suggest CONFIG_MUTEK_MEMALLOC_ALIGN=1
  require CONFIG_MUTEK_MEMALLOC_GUARD_SIZE
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_MEMALLOC_GUARD_SIZE
  desc Memory allocation debug guard zone size in bytes.
  flags value
  parent CONFIG_MUTEK_MEMALLOC_GUARD
  default 256
%config end

%config CONFIG_MUTEK_MEMALLOC_GUARD_INSTRUMENT
  desc Automatically check guard zone on all function calls and returns.
  parent CONFIG_MUTEK_MEMALLOC_GUARD
  depend CONFIG_COMPILE_INSTRUMENT
  parent CONFIG_MUTEK
%config end

###################################################################
# Slab allocator

%config CONFIG_MUTEK_SLAB
  desc Enable use of slab allocator.
  parent CONFIG_MUTEK
%config end

%config CONFIG_MUTEK_SLAB_GLOBAL
  desc Enable slab global list for sharing slab.
  parent CONFIG_MUTEK_SLAB
  default undefined 
%config end

%config CONFIG_MUTEK_SLAB_NAME
  desc Slab can be named.
  parent CONFIG_MUTEK_SLAB
  default undefined 
%config end