%config CONFIG_NETWORK_SOCKET
  desc Enable libsocket API support
  parent CONFIG_NETWORK
%config end

%config CONFIG_NETWORK_SOCKET_PACKET
  desc Enable support for PF_PACKET sockets
  parent CONFIG_NETWORK_SOCKET
%config end

%config CONFIG_NETWORK_SOCKET_RAW
  desc Enable support for raw sockets (SOCK_RAW)
  parent CONFIG_NETWORK_SOCKET
%config end
