
%config CONFIG_DRIVER_BLOCK_PARTITION
  desc enable partition block device support
  parent CONFIG_DEVICE
  require CONFIG_DRIVER_BLOCK_PARTITION_MAXCOUNT
%config end

%config CONFIG_DRIVER_BLOCK_PARTITION_MAXCOUNT
  desc maximum number of detected partitions
  flags value
  parent CONFIG_DRIVER_BLOCK_PARTITION
  default 32
%config end

