
######################################################################
# User definable tokens

%config CONFIG_CPU_MAXCOUNT
  parent CONFIG_CPU_META
  desc Maximum CPU count
  flags value
  default 1
%config end

%config CONFIG_CPU_RESET_HANDLER
  desc Whether the kernel has to implement a reset handler, or this kernel
  desc is designed to be booted from a bootloader
  parent CONFIG_CPU_META
  default defined
  require CONFIG_CPU_RESET_ADDR
  require CONFIG_CPU_RESET_SIZE
%config end

%config CONFIG_CPU_RESET_ADDR
  parent CONFIG_CPU_META
  desc Processor reset vector address
  flags value
%config end

%config CONFIG_CPU_RESET_SIZE
  parent CONFIG_CPU_META
  desc Processor reset vector size
  flags value
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_CPU_SMP_CAPABLE
  parent CONFIG_CPU_META
  desc Processor instruction set and other features allow use in multiprocessors systems
  flags meta
%config end

%config CONFIG_CPU_CACHE
  parent CONFIG_CPU_META
  desc Processors uses cache
  flags meta
%config end

%config CONFIG_CPU_CACHE_LINE
  parent CONFIG_CPU_META
  desc Size of a single cpu cache line in bytes
  flags internal value
%config end

%config CONFIG_CPU_CACHE_COHERENCY
  parent CONFIG_CPU_META
  desc Processors supports cache coherency mechanism
  flags meta
%config end

%config CONFIG_CPU_EXCEPTION_FIXED_ADDRESS
  parent CONFIG_CPU_META
  desc Processor mandatory address exception vectors
  flags internal value
%config end

%config CONFIG_CPU_EXCEPTION_ALIGN
  parent CONFIG_CPU_META
  desc Processor mandatory alignment of exception vectors
  flags internal value
%config end

%config CONFIG_CPU_ENDIAN_BIG
  parent CONFIG_CPU_META
  desc Processor is big endian
  flags meta
%config end

%config CONFIG_CPU_ENDIAN_LITTLE
  parent CONFIG_CPU_META
  desc Processor is little endian
  flags meta
%config end

%config CONFIG_CPU_NONALIGNED_ACCESS
  parent CONFIG_CPU_META
  desc Non-aligned memory access are supported by processor without special handling
  flags meta
%config end

%config CONFIG_CPU_WAIT_IRQ
  parent CONFIG_CPU_META
  desc The processor has a wait for interrupts instruction available
  flags meta
%config end

%config CONFIG_CPU_META
  desc	meta configuration token used to impose requirements
  flags	mandatory internal root
  require CONFIG_CPU_NAME
  require CONFIG_CPU_ARCHNAME
  single CONFIG_CPU_X86 CONFIG_CPU_X86_EMU CONFIG_CPU_X86_64_EMU CONFIG_CPU_MIPS CONFIG_CPU_AVR CONFIG_CPU_ARM CONFIG_CPU_PPC CONFIG_CPU_NIOS2 CONFIG_CPU_SPARC CONFIG_CPU_LM32
  single CONFIG_CPU_ENDIAN_BIG CONFIG_CPU_ENDIAN_LITTLE
  require CONFIG_CPU_MAXCOUNT>0
%config end

# Makefile variable

%config CONFIG_CPU_NAME
  parent CONFIG_CPU_META
  desc Processor model name configuration token
  flags	internal value
%config end

%config CONFIG_CPU_ARCHNAME
  parent CONFIG_CPU_META
  desc Processor architecture name configuration token
  flags	internal value
%config end

