module @module_name@

open LowStar.BufferOps
open FStar.HyperStack.ST
open LowStar.Printf
open C.String

module I8 = FStar.Int8
module I16 = FStar.Int16
module I32 = FStar.Int32
module I64 = FStar.Int64

module U8 = FStar.UInt8
module U16 = FStar.UInt16
module U32 = FStar.UInt32
module U64 = FStar.UInt64

module B = LowStar.Buffer

noeq type struct_error = {
  code: I32.t;
  message: C.String.t;
}

noeq type @struct_ret_name@ = {
    value: @ret_value_type@;
    error: struct_error;
}

val @func_name@_body:
  @fstar_func_args@
Stack (ret: @struct_ret_name@) (requires fun h0 -> 
    @require_logic_constraint@
  )
  (ensures fun h0 ret h1 -> 
    let ret_value = ret.value in
    let ret_error_code = ret.error.code in
    @ensure_logic_constraint@
  )
let @func_name@_body @args@ =
    ???

val @func_name@: 
  @fstar_func_args@
  Stack (ret: @struct_ret_name@) (requires fun h0 -> 
    @require_logic_constraint@
  )
  (ensures fun h0 ret h1 -> 
    let ret_value = ret.value in
    let ret_error_code = ret.error.code in
    @ensure_logic_constraint@
  )
let @func_name@ @args@ = 
    ???