#include <stdio.h>
#include "Add.h"

int main()
{
    kremlinit_globals();
    puts("@func_name@ func is implementd!\nedit main.c and call verified @func_name@ func");
    // call @func_name@ func here
    return 0;
}