
%config CONFIG_DRIVER_FS_ISO9660
  parent CONFIG_VFS
  desc Iso 9660 file system support
  depend CONFIG_DRIVER_BLOCK
%config end

%config CONFIG_DRIVER_FS_ISO9660_ROCKRIDGE
  parent CONFIG_DRIVER_FS_ISO9660
  desc Iso 9660 fs Rock Ridge extension for long file names and attributes
  default defined
%config end
