
%config CONFIG_ARCH_GAISLER
  desc Gaisler Aeroflex platform support
  parent CONFIG_ARCH_META
  module arch Hexo
  provide CONFIG_ARCH_NAME=gaisler
  require CONFIG_ROM_ADDR
  require CONFIG_ROM_SIZE
  require CONFIG_RAM_ADDR
  require CONFIG_RAM_SIZE
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE
  desc enable SoCLib early console TTY before device initialization
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_GAISLER
  require CONFIG_GAISLER_EARLY_CONSOLE_ADDR
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE_ADDR
  desc Gaisler early console UART address
  parent CONFIG_GAISLER_EARLY_CONSOLE
  flags value
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE_SCALER
  desc Gaisler early console UART scaler value
  parent CONFIG_GAISLER_EARLY_CONSOLE
  default 0x100
  flags value
%config end

%config CONFIG_GAISLER_EARLY_CONSOLE_DEBUG
  desc Gaisler UART is configured by debug support unit, do not update control register
  parent CONFIG_GAISLER_EARLY_CONSOLE
%config end

