
%config CONFIG_CPU_X86_EMU
  desc Linux Emulation processor support
  flags harddep
  module cpu Hexo
  depend CONFIG_ARCH_EMU
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_NAME=x86-emu
  provide CONFIG_CPU_ARCHNAME=x86-emu
  provide CONFIG_CPU_CACHE CONFIG_CPU_CACHE_COHERENCY
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_CPU_NONALIGNED_ACCESS
  provide CONFIG_ARCH_EMU_PAGESIZE=4096
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_SMP_CAPABLE
  parent CONFIG_CPU_META
  provide CONFIG_HEXO_STACK_ALIGN=16
%config end

