table{
 	border-collapse: collapse;
 	empty-cells: show;
 	margin: 0.4cm;
 }
 td{
 	padding: 10px 5px;
 	border: 1px solid black;
 	max-width: 5px;
 }
 th{
 	padding: 5px;
 	border-left: 1px dotted black;
 	border-right: 1px dotted black;
 }
 .sc{
 	border-style: none;
 	padding: 0px;
 }
 h2 {
 	border-bottom: 1px solid #666;
 }
 h2 span {
 	position: relative;
 	left: -0.3em;
 	bottom: -0.6em;
 	padding: 1px 0.5em;
 	border-style: solid;
 	border-width: 1px 1px 1px 0.8em;
 	border-color: #666 #666 #666 #008;
 	background-color: #ddd;
 }
 .space{border-style: none;}
 .not{background-color: white;}
 .notfirst {
 	background-color: white;
 	border-style: solid none solid solid;
 }
 .notmid {
 	background-color: white;
 	border-style: solid none solid none;
 }
 .notlast {
 	background-color: white;
 	border-style: solid solid solid none;
 }
 .t0{background-color: yellow;}
 .t0first {
 	background-color: yellow;
 	border-style: solid none solid solid;
 }
 .t0mid {
 	background-color: yellow;
 	border-style: solid none solid none;
 }
 .t0last {
 	background-color: yellow;
 	border-style: solid solid solid none;
 }
 .t1{background-color: purple;}
 .t1first {
 	background-color: purple;
 	border-style: solid none solid solid;
 }
 .t1mid {
 	background-color: purple;
 	border-style: solid none solid none;
 }
 .t1last {
 	background-color: purple;
 	border-style: solid solid solid none;
 }
 .t2{background-color: red;}
 .t2first {
 	background-color: red;
 	border-style: solid none solid solid;
 }
 .t2mid {
 	background-color: red;
 	border-style: solid none solid none;
 }
 .t2last {
 	background-color: red;
 	border-style: solid solid solid none;
 }
 .t3{background-color: silver;}
 .t3first {
 	background-color: silver;
 	border-style: solid none solid solid;
 }
 .t3mid {
 	background-color: silver;
 	border-style: solid none solid none;
 }
 .t3last {
 	background-color: silver;
 	border-style: solid solid solid none;
 }
 .t4{background-color: teal;}
 .t4first {
 	background-color: teal;
 	border-style: solid none solid solid;
 }
 .t4mid {
 	background-color: teal;
 	border-style: solid none solid none;
 }
 .t4last {
 	background-color: teal;
 	border-style: solid solid solid none;
 }
 .t5{background-color: aqua;}
 .t5first {
 	background-color: aqua;
 	border-style: solid none solid solid;
 }
 .t5mid {
 	background-color: aqua;
 	border-style: solid none solid none;
 }
 .t5last {
 	background-color: aqua;
 	border-style: solid solid solid none;
 }
 .t6{background-color: olive;}
 .t6first {
 	background-color: olive;
 	border-style: solid none solid solid;
 }
 .t6mid {
 	background-color: olive;
 	border-style: solid none solid none;
 }
 .t6last {
 	background-color: olive;
 	border-style: solid solid solid none;
 }
 .t7{background-color: navy;}
 .t7first {
 	background-color: navy;
 	border-style: solid none solid solid;
 }
 .t7mid {
 	background-color: navy;
 	border-style: solid none solid none;
 }
 .t7last {
 	background-color: navy;
 	border-style: solid solid solid none;
 }
 .t8{background-color: maroon;}
 .t8first {
 	background-color: maroon;
 	border-style: solid none solid solid;
 }
 .t8mid {
 	background-color: maroon;
 	border-style: solid none solid none;
 }
 .t8last {
 	background-color: maroon;
 	border-style: solid solid solid none;
 }
 .t9{background-color: lime;}
 .t9first {
 	background-color: lime;
 	border-style: solid none solid solid;
 }
 .t9mid {
 	background-color: lime;
 	border-style: solid none solid none;
 }
 .t9last {
 	background-color: lime;
 	border-style: solid solid solid none;
 }
 .t10{background-color: green;}
 .t10first {
 	background-color: green;
 	border-style: solid none solid solid;
 }
 .t10mid {
 	background-color: green;
 	border-style: solid none solid none;
 }
 .t10last {
 	background-color: green;
 	border-style: solid solid solid none;
 }
 .t11{background-color: gray;}
 .t11first {
 	background-color: gray;
 	border-style: solid none solid solid;
 }
 .t11mid {
 	background-color: gray;
 	border-style: solid none solid none;
 }
 .t11last {
 	background-color: gray;
 	border-style: solid solid solid none;
 }
 .t12{background-color: fuchsia;}
 .t12first {
 	background-color: fuchsia;
 	border-style: solid none solid solid;
 }
 .t12mid {
 	background-color: fuchsia;
 	border-style: solid none solid none;
 }
 .t12last {
 	background-color: fuchsia;
 	border-style: solid solid solid none;
 }
 .t13{background-color: blue;}
 .t13first {
 	background-color: blue;
 	border-style: solid none solid solid;
 }
 .t13mid {
 	background-color: blue;
 	border-style: solid none solid none;
 }
 .t13last {
 	background-color: blue;
 	border-style: solid solid solid none;
 }
 .t14{
 	background-color: LightGoldenRodYellow;
}
 .t14first {
 	background-color: LightGoldenRodYellow;
 	border-style: solid none solid solid;
 }
 .t14mid {
 	background-color: LightGoldenRodYellow;
 	border-style: solid none solid none;
 }
 .t14last {
 	background-color: LightGoldenRodYellow;
 	border-style: solid solid solid none;
 }