
%config CONFIG_NETWORK
  desc Enable network support
  depend CONFIG_MUTEK_TIMER
  depend CONFIG_MUTEK_SCHEDULER
  depend CONFIG_MUTEK_SEMAPHORE
  module libnetwork
%config end

%config CONFIG_NETWORK_AUTOALIGN
  desc Force packet buffer alignment
  parent CONFIG_NETWORK
%config end

%config CONFIG_NETWORK_PROFILING
  desc Provide profiling information about network layer
  parent CONFIG_NETWORK
%config end

%config CONFIG_NETWORK_IPV4
  desc Enable IP version 4 support
  parent CONFIG_NETWORK
  default defined
%config end

%config CONFIG_NETWORK_FORWARDING
  desc Enable packet forwarding support
  parent CONFIG_NETWORK
%config end

%config CONFIG_NETWORK_FILTER
  desc Enable packet filtering support
  parent CONFIG_NETWORK
%config end

%config CONFIG_NETWORK_UDP
  desc Enable UDP transport support
  parent CONFIG_NETWORK
  depend CONFIG_NETWORK_IPV4
%config end

%config CONFIG_NETWORK_TCP
  desc Enable TCP transport support
  parent CONFIG_NETWORK
  depend CONFIG_NETWORK_IPV4
%config end

%config CONFIG_NETWORK_PACKET_ASM
  desc A processor specific packet.h header is available.
  parent CONFIG_NETWORK
  flags internal
%config end

