
%config CONFIG_UNIX
  desc Enable UNIX support
  module libunix Unix OS library
  depend CONFIG_MUTEK_SCHEDULER
  depend CONFIG_HEXO_MMU
  depend CONFIG_VFS

  require CONFIG_UNIX_STACK_VADDR
  require CONFIG_UNIX_PROC_START_VADDR
  require CONFIG_UNIX_KSTACK_SIZE
  require CONFIG_LIBUNIX_MAX_FD
%config end

%config CONFIG_UNIX_STACK_VADDR
  parent CONFIG_UNIX
  flags value
  desc Set unix process user stack base address
  default 0x80000000
%config end

%config CONFIG_UNIX_PROC_START_VADDR
  parent CONFIG_UNIX
  flags value
  desc Set unix process user start address
  default 0x81000000
%config end

%config CONFIG_UNIX_KSTACK_SIZE
  parent CONFIG_UNIX
  flags value
  desc Set unix process kernel stack size
  default 4096
%config end

%config CONFIG_LIBUNIX_MAX_FD
  parent CONFIG_UNIX
  flags value
  desc Set unix process max open fds
  default 32
%config end

