
%config CONFIG_LICENSE_META
  desc This mandatory meta token impose requirements on application license
  flags mandatory root
  single CONFIG_LICENSE_APP_CECILL2 CONFIG_LICENSE_APP_GPL CONFIG_LICENSE_APP_GPL3 \
         CONFIG_LICENSE_APP_LGPL CONFIG_LICENSE_APP_LGPL3 CONFIG_LICENSE_APP_BSD \
         CONFIG_LICENSE_APP_PUBLIC CONFIG_LICENSE_APP_PROPRIETARY
%config end

######################################################################
# User definable tokens

%config CONFIG_LICENSE_APP_CECILL2
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is CeCILL2 licensed
  exclude CONFIG_LICENSE_USE_PROPRIETARY
%config end

%config CONFIG_LICENSE_APP_GPL
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is GPL v2 licensed
  exclude CONFIG_LICENSE_USE_PROPRIETARY
%config end

%config CONFIG_LICENSE_APP_GPL3
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is GPL v3 licensed
  exclude CONFIG_LICENSE_USE_PROPRIETARY
%config end

%config CONFIG_LICENSE_APP_LGPL
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is LGPL v2 licensed
%config end

%config CONFIG_LICENSE_APP_LGPL3
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is LGPL v3 licensed
%config end

%config CONFIG_LICENSE_APP_BSD
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is BSD licensed
%config end

%config CONFIG_LICENSE_APP_MIT
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is MIT licensed
%config end

%config CONFIG_LICENSE_APP_PUBLIC
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is in the public domain
%config end

%config CONFIG_LICENSE_APP_PROPRIETARY
  parent CONFIG_LICENSE_META
  desc This token must be defined if application is under a proprietary license
  exclude CONFIG_LICENSE_USE_GPL CONFIG_LICENSE_USE_GPL3 CONFIG_LICENSE_USE_CECILL2
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_LICENSE_USE_CECILL2
  parent CONFIG_LICENSE_META
  desc This token will be defined if using CeCILL2 licensed code in the kernel with current configuration
  flags meta
  exclude CONFIG_LICENSE_USE_PROPRIETARY
%config end

%config CONFIG_LICENSE_USE_GPL
  parent CONFIG_LICENSE_META
  desc This token will be defined if using GPLv2 licensed code in the kernel with current configuration
  flags meta
  exclude CONFIG_LICENSE_USE_PROPRIETARY
%config end

%config CONFIG_LICENSE_USE_GPL3
  parent CONFIG_LICENSE_META
  desc This token will be defined if using GPLv3 licensed code in the kernel with current configuration
  flags meta
  exclude CONFIG_LICENSE_USE_PROPRIETARY
%config end

%config CONFIG_LICENSE_USE_LGPL
  parent CONFIG_LICENSE_META
  desc This token will be defined if using LGPLv2 licensed code in the kernel with current configuration
  flags meta
%config end

%config CONFIG_LICENSE_USE_LGPL3
  parent CONFIG_LICENSE_META
  desc This token will be defined if using LGPLv3 licensed code in the kernel with current configuration
  flags meta
%config end

%config CONFIG_LICENSE_USE_BSD
  parent CONFIG_LICENSE_META
  desc This token will be defined if using BSD licensed code in the kernel with current configuration
  flags meta
%config end

%config CONFIG_LICENSE_USE_MIT
  parent CONFIG_LICENSE_META
  desc This token will be defined if using MIT licensed code in the kernel with current configuration
  flags meta
%config end

%config CONFIG_LICENSE_USE_PUBLIC
  parent CONFIG_LICENSE_META
  desc This token will be defined if using Public domain code in the kernel with current configuration
  flags meta
%config end

%config CONFIG_LICENSE_USE_PROPRIETARY
  parent CONFIG_LICENSE_META
  desc This token will be defined if using proprietary code in the kernel with current configuration
  flags meta
%config end

