
%config CONFIG_DRIVER_ICU_EMU
  desc enable unix emulation virtual interrupt controller support
  when CONFIG_ARCH_EMU_LINUX CONFIG_ARCH_SMP CONFIG_HEXO_IPI
  depend CONFIG_ARCH_EMU
  depend CONFIG_HEXO_IRQ
  provide CONFIG_DRIVER_ICU
  provide CONFIG_DRIVER_ICU_IPI
  parent CONFIG_DEVICE
%config end

