
%config CONFIG_ARCH_IBMPC
  desc IBM PC platform support
  parent CONFIG_ARCH_META
  module arch Hexo
  provide CONFIG_ARCH_NAME=ibmpc
  provide CONFIG_ROM_ADDR=0x00100000
  provide CONFIG_ROM_SIZE=0x00200000
  provide CONFIG_RAM_ADDR=0x00300000
  provide CONFIG_RAM_SIZE=0x00200000
  depend CONFIG_ARCH_HW_INIT
  provide CONFIG_ARCH_SMP_CAPABLE
%config end

%config CONFIG_IBMPC_EARLY_CONSOLE_VGA
  desc Enable early text console before real drivers init.
  desc Text output will be written to vga text buffer at 0xb8000.
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_IBMPC_EARLY_CONSOLE_UART
  desc Enable early text console before real drivers init.
  desc Text output will be sent to 16550 UART.
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_IBMPC_EARLY_CONSOLE_UART_PORT
  desc Defines early console 16550 UART port address.
  parent CONFIG_IBMPC_EARLY_CONSOLE_UART
  flags value
  default 0x3f8
%config end

%config CONFIG_IBMPC_EARLY_CONSOLE_E9HACK
  desc Enable early text console before real drivers init.
  desc Text output will be written to 0xe9 port, supported by Qemu and Bochs emulators.
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_ARCH_IBMPC_MEMORY
  desc Set the amount of ram memory. Ram size will be autodetected if this token is diabled.
  flags value
  parent CONFIG_ARCH_IBMPC
%config end

%config CONFIG_ARCH_IBMPC_DMA
  desc Support 8237 dma controller found in IBM PCs
  parent CONFIG_ARCH_IBMPC
%config end

