/* http://colorschemedesigner.com/#0z62KueE8rTA1 */

a {
    font-weight: bold;
}

div.body a {
    color: #066A81;
    text-decoration: none;
}

div.body a:hover {
    text-decoration: underline;
}

div.related ul li a {
    color: #0F99BA;
    text-decoration: none;
}

.literal {
    color: #A60FC1;
}

dl.function > dt, dl.method > dt {
    background-color: #7ECFE2;
}

dl.class > dt {
    background-color: #FFC58C;
}

dl.attribute > dt {
    background-color: #FFFF8C;
}

div.section {
    padding-left: 1em;
    border-left: 1px #066A81 dashed;
}