/dts-v1/;

/ {
	model = "MutekH_SoCLib_Tutorial";
	compatible = "MutekH_SoCLib_Tutorial";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

m4_forloop(i, 0, CONFIG_CPU_MAXCOUNT-1, `

		CONFIG_CPU_NAME@i {
			name = "CONFIG_CPU_NAME";
			device_type = "cpu";
			reg = <i>;
			icudev_type = "cpu:CONFIG_CPU_ARCHNAME";
			ipi = <&{/xicu@0/out@i} i>;
		};
')
	};

	tty@0 {
	    device_type = "soclib:tty";
		tty_count = <1>;
		reg = <0xd0200000 0x10>;
		irq = <&{/xicu@0/out@0} 0>;
	};

	block@0 {
	    device_type = "soclib:block_device";
		reg = <0xd1200000 0x20>;
		irq = <&{/xicu@0/out@0} 1>;
	};

	fdaccess@0 {
	    device_type = "soclib:fdaccess";
		reg = <0xd4200000 0x100>;
		irq = <&{/xicu@0/out@0} 2>;
	};

	xicu@0 {
	    device_type = "soclib:xicu:root";
		input_lines = <3>;
		ipis = <CONFIG_CPU_MAXCOUNT>;
		timers = <1>;
		reg = <0xd2200000 0x1000>;

m4_forloop(i, 0, CONFIG_CPU_MAXCOUNT-1, `

	    	out@i {
	    	    device_type = "soclib:xicu:filter";
	    	    parent = &{/xicu@0};
	    		output_line = <i>;
	    		irq = <&{/cpus/CONFIG_CPU_NAME@i} 0>;
	    	};
')
	};

	memory@0 {
		device_type = "memory";
		cached;
		memreg: reg = <0x7f000000 0x01000000>;
	};

	chosen {
		console = &{/tty@0};
m4_ifelse(CONFIG_MUTEK_TIMER, `defined', `
                timer = &{/xicu@0};
')
	};

};
