/dts-v1/;

/ {
	model = "MutekH_TsarV1";
	compatible = "MutekH_Tutorial";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		Mips,32@0 {
			name = "Mips,32";
			device_type = "cpu";
			reg = <0>;
			icudev_type = "cpu:mips";
			ipi = <&{/xicu@0/out@0} 0>;
		};

		Mips,32@1 {
			name = "Mips,32";
			device_type = "cpu";
			reg = <1>;
			icudev_type = "cpu:mips";
			ipi = <&{/xicu@0/out@1} 1>;
		};

		Mips,32@2 {
			name = "Mips,32";
			device_type = "cpu";
			reg = <2>;
			icudev_type = "cpu:mips";
			ipi = <&{/xicu@0/out@2} 2>;
		};

		Mips,32@3 {
			name = "Mips,32";
			device_type = "cpu";
			reg = <3>;
			icudev_type = "cpu:mips";
			ipi = <&{/xicu@0/out@3} 3>;
		};

	};

	xicu@0 {
	    device_type = "soclib:xicu:root";
		input_lines = <2>;
		ipis = <4>;
		timers = <1>;
		reg = <0x30200000 0x1000>;

	    	out@0 {
	    	    device_type = "soclib:xicu:filter";
	    	    parent = &{/xicu@0};
	    		output_line = <0>;
	    		irq = <&{/cpus/Mips,32@0} 0>;
	    	};
	    
	    	out@1 {
	    	    device_type = "soclib:xicu:filter";
	    	    parent = &{/xicu@0};
	    		output_line = <1>;
	    		irq = <&{/cpus/Mips,32@1} 0>;
	    	};
	    
	    	out@2 {
	    	    device_type = "soclib:xicu:filter";
	    	    parent = &{/xicu@0};
	    		output_line = <2>;
	    		irq = <&{/cpus/Mips,32@2} 0>;
	    	};
	    
	    	out@3 {
	    	    device_type = "soclib:xicu:filter";
	    	    parent = &{/xicu@0};
	    		output_line = <3>;
	    		irq = <&{/cpus/Mips,32@3} 0>;
	    	};
	};

	spi@0 {
	    device_type = "oc_spi_controller";
	    reg = <0x20200000 0x100>;
	    irq = <&{/xicu@0/out@0} 1>;
	    lun_count = <1>;
	};

	block@0 {
	    device_type = "sdmmc_spi";
	    spi = &{/spi@0};
	    spi_lun = <0>;
        };

	tty@0 {
	  device_type = "uart16550";
    crystal_hz  = <12500000>;
    line_baud = <115200>;
		reg = <0x10200000 0x100>;
		irq = <&{/xicu@0/out@0} 0>;
	};

	chosen {
		console = &{/tty@0};
		timer = &{/xicu@0};
		root = &{/block@0};
	};

};
