
%config CONFIG_ARCH_EMU
  desc UNIX Emulation platform support
  parent CONFIG_ARCH_META
  module arch Hexo
  provide CONFIG_ARCH_NAME=emu
  depend CONFIG_ARCH_HW_INIT
  require CONFIG_ARCH_EMU_MEMORY
  require CONFIG_ARCH_EMU_PAGESIZE
  single CONFIG_ARCH_EMU_LINUX CONFIG_ARCH_EMU_DARWIN
  exclude CONFIG_ARCH_CLUSTER
  provide CONFIG_ARCH_BOOTLOADER
%config end

%config CONFIG_ARCH_EMU_MEMORY
  flags value
  desc Set the amount of memory to emulate in bytes
  parent CONFIG_ARCH_EMU
  default 16777216
%config end

%config CONFIG_ARCH_EMU_DARWIN
  desc Target system is Darwin (MacOS X)
  parent CONFIG_ARCH_EMU
  exclude CONFIG_HEXO_IRQ
%config end

%config CONFIG_ARCH_EMU_LINUX
  desc Target system is Linux
  provide CONFIG_ARCH_SMP_CAPABLE
  parent CONFIG_ARCH_EMU
%config end

%config CONFIG_EMU_EARLY_CONSOLE
  desc enable early text console before device initialization
  provide CONFIG_MUTEK_EARLY_CONSOLE
  parent CONFIG_ARCH_EMU
%config end

%config CONFIG_ARCH_EMU_UNLOCK_YIELD
  desc Call host operating system scheduler yield after spin lock release.
  desc This must be defined when emulating more emu processors than
  desc physical processors available on the host machine. This avoids
  desc spending much time spinning during _many_ host process time slices.
  parent CONFIG_ARCH_EMU
  suggest_when CONFIG_ARCH_SMP CONFIG_ARCH_SMP_CAPABLE
%config end

%config CONFIG_ARCH_EMU_TRAP_KILL
  parent CONFIG_ARCH_EMU
  desc A cpu_trap() call will kill all processes instead of using a trap instruction
%config end

######################################################################
# Provided token, not definable by user directly

%config CONFIG_ARCH_EMU_PAGESIZE
  desc Host architecture mmap page size
  flags internal value
  parent CONFIG_ARCH_EMU
%config end

