
######################################################################
# User definable tokens

%config CONFIG_CPU_SPARC_SOCLIB
  desc SoCLib Sparc v8
  flags harddep
  parent CONFIG_CPU_SPARC
  depend CONFIG_ARCH_SOCLIB
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_CACHE_LINE=4
  provide CONFIG_CPU_NAME=sparcv8
  provide CONFIG_COMPILE_MCPU=v8
  provide CONFIG_CPU_RESET_ADDR=0x00000000
#  provide CONFIG_CPU_SMP_CAPABLE
#  provide CONFIG_CPU_WAIT_IRQ
#  depend CONFIG_COMPILE_SOFTFLOAT
%config end

%config CONFIG_CPU_SPARC_LEON3
  desc Leon3 Sparc v8
  flags harddep
  parent CONFIG_CPU_SPARC
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_CACHE_LINE=4
  provide CONFIG_CPU_NAME=sparcv8_leon3
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_COMPILE_MCPU=v8
#  depend CONFIG_COMPILE_SOFTFLOAT
%config end

######################################################################
# Provided tokens, not definable by user directly

%config CONFIG_CPU_SPARC_WINCOUNT
  desc Sparc processeur register windows count
  parent CONFIG_CPU_SPARC
  flags value
  default 8
%config end

%config CONFIG_CPU_SPARC_APP_REGS
  desc Compiler can use sparc g2, g3 and g4 registers as temporary when enabled.
  desc Makes irq and context switch faster when disabled but needs libgcc compiled accordingly.
  parent CONFIG_CPU_SPARC
  default defined
%config end

%config CONFIG_CPU_SPARC
  desc Sparc processors support
  parent CONFIG_CPU_META
  flags internal private

  when CONFIG_CPU_SPARC_SOCLIB
  when CONFIG_CPU_SPARC_LEON3

  module cpu Hexo
  provide CONFIG_CPU_NAME=sparc
  provide CONFIG_CPU_RESET_SIZE=4096
  provide CONFIG_CPU_ENDIAN_BIG
  provide CONFIG_CPU_EXCEPTION_FIXED_ADDRESS=0x0
  provide CONFIG_CPU_EXCEPTION_ALIGN=0x0000400
  provide CONFIG_HEXO_STACK_ALIGN=16
  provide CONFIG_CPU_ARCHNAME=sparc
  require CONFIG_HEXO_STACK_ALIGN>=16
  require CONFIG_CPU_SPARC_WINCOUNT>=2
  require CONFIG_CPU_SPARC_WINCOUNT<=32
%config end

