
%config CONFIG_CPU_X86
  desc x86 processors support
  flags harddep
  module cpu Hexo
  depend CONFIG_ARCH_IBMPC
  provide CONFIG_CPU_CACHE
  provide CONFIG_CPU_NAME=x86
  provide CONFIG_CPU_ARCHNAME=x86
  provide CONFIG_CPU_CACHE CONFIG_CPU_CACHE_COHERENCY
  provide CONFIG_LIBC_STRING_ASM
  provide CONFIG_CPU_RESET_ADDR=0x000ffff0
  provide CONFIG_CPU_RESET_SIZE=0x100
  provide CONFIG_CPU_ENDIAN_LITTLE
  provide CONFIG_HEXO_MMU_PAGESIZE=4096
  provide CONFIG_CPU_NONALIGNED_ACCESS
  provide CONFIG_CPU_WAIT_IRQ
  provide CONFIG_CPU_SMP_CAPABLE
  parent CONFIG_CPU_META
  require CONFIG_HEXO_STACK_ALIGN>=8
  provide CONFIG_HEXO_STACK_ALIGN=16
%config end

%config CONFIG_CPU_X86_ALIGNCHECK
  parent CONFIG_CPU_X86 CONFIG_CPU_X86_EMU CONFIG_CPU_X86_64_EMU
  desc Enable memory access alignement checking on x86 processors.
  desc Warning: gcc may generate non aligned accesses in memset.
%config end

%config CONFIG_CPU_X86_SYSENTER
  parent CONFIG_CPU_X86
  desc enable sysenter/sysexit instructions for system call fast path
  default defined
%config end

%config CONFIG_CPU_X86_SMP_BOOT_ADDR
  parent CONFIG_CPU_X86
  desc app CPUs boot address for x86 SMP bootup sequence.
  desc Must be 4k aligned, below 1Mb limit.
  flags value internal
  default 0x00002000
%config end

