<?xml version="1.0" encoding="ISO-8859-1" ?>
<TURTLECONFIGURATION>
<RTLHost data="localhost" />
<RTLPath data="/packages/RT-LOTOS.0.12/bin/rtl" />
<DTA2DOTPath data="/packages/RT-LOTOS.0.12/bin/dta2dot" />
<RG2TLSAPath data="/packages/RT-LOTOS.0.12/bin/rg2tlsa" />
<RGSTRAPPath data="/packages/RT-LOTOS.0.12/bin/rgstrap" />
<DOTTYPath data="/opt/csw/bin/dotty" />
<DOTTYHost data="localhost" />
<AldebaranHost data="localhost" />
<AldebaranPath data="/packages/cadp/com/aldebaran" />
<BcgioPath data="/packages/cadp/bin.iX86/bcg_io" />
<BcgminPath data="/packages/cadp/bin.iX86/bcg_min" />
<BisimulatorPath data="/packages/cadp/com/bcg_open" />
<BcgmergePath data="/packages/cadp/com/bcg_merge" />
<CaesarPath data="/packages/cadp/bin.iX86/caesar" />
<CaesarOpenPath data="/packages/cadp/com/caesar.open" />
<FILEPath data="../modeling" />
<LIBPath data="../lib" />
<IMGPath data="../figures" />
<DocGenPath data="../document_generation" />
<LOTOSPath data="../lotos" />
<GGraphPath data="./launch_configurations/graphs" />
<TGraphPath data="./launch_configurations/graphs" />
<TToolUpdateURL data="" data1="http://labsoc.comelec.enst.fr/turtle/ttoolversion.html" />
<TToolUpdateProxy data="false" />
<TToolUpdateProxyPort data="8080" />
<TToolUpdateProxyHost data="To Be Completed" />
<JavaCodeDirectory data="../javacode" />
<JavaCompilerPath data="/usr/bin/javac" />
<TToolClassPath data="../javacode" />
<JavaExecutePath data="/usr/bin/java" />
<JavaHeader data="import java.sql.*;" />
<SystemCCodeDirectory data="../simulators/c++2/" />
<SystemCHost data="localhost"/>
<SystemCCodeCompileCommand data="make -C ../simulators/c++2/" />
<SystemCCodeExecuteCommand data="../simulators/c++2/run.x -ovcd ../simulators/c++2/vcddump.vcd" />
<SystemCCodeInteractiveExecuteCommand data="../simulators/c++2/run.x -server" />
<TMLCodeDirectory data="../tmlcode/" />
<CCodeDirectory data="../CCode" />
<GTKWavePath data="/opt/local/bin/gtkwave" />
<VCDPath data="../simulators/c++2/" />
<UPPAALCodeDirectory data="../uppaal/" />
<UPPAALVerifierPath data="/home/dblouin/Produits/uppaal64-4.1.19/bin-Linux/verifyta" />
<UPPAALVerifierHost data="localhost" />
<UPPAALPropertyVerifMessage data="Formula is satisfied"/>
<UPPAALPropertyNotVerifMessage data="Formula is NOT satisfied"/>
<ProVerifCodeDirectory data="../proverif/" />
<ProVerifVerifierPath data="../../proverif" />
<ProVerifVerifierHost data="localhost" />
<AVATARExecutableCodeDirectory data="../executablecode/" />
<AVATARMPSoCCodeDirectory data="../MPSoC/" />
<AVATARMPSoCCompileCommand data="make -C ../MPSoC/ updateruntime updategeneratedcode compilesoclib" />
<AVATARExecutableCodeHost data="localhost"/>
<AVATARExecutableCodeCompileCommand data="make -C ../executablecode/" />
<AVATARExecutableCodeExecuteCommand data="../executablecode/run.x" />
<AVATARExecutableSoclibCodeCompileCommand data="make -C ../MPSoC/ updategeneratedcode compilesoclib" />
<AVATARExecutableSoclibCodeExecuteCommand data="make -C ../MPSoC/ runsoclib" />
<AVATARExecutableSoclibCodeTraceCommand data="make -C ../MPSoC/ runsoclib-trace" />
<AVATARExecutableSoclibTraceFile data="../MPSoC/soclib/soclib/platform/topcells/caba-vgmn-mutekh_kernel_tutorial/trace" />
<NCDirectory data="../nc/"/>

<ExternalCommand1Host data="localhost"/>
<ExternalCommand1 data="gtkwave ../simulators/c++2/vcddump.vcd"/>
<ExternalCommand2Host data="localhost"/>
<ExternalCommand2 data="/packages/uppaal(4.0.11/uppaal ../uppaal/spec.xml"/>

<PLUGIN_JAVA_CODE_GENERATOR data="../plugins/CustomizerAvatarCodeGeneration.jar" />


<ProVerifHash data="1427594573"/>
</TURTLECONFIGURATION>
