
%config CONFIG_DRIVER_ICU_APIC
  desc enable intel APIC interrupt controller support
  when CONFIG_ARCH_IBMPC CONFIG_ARCH_SMP
  depend CONFIG_ARCH_IBMPC
  depend CONFIG_CPU_X86
  # does not depend on CONFIG_HEXO_IRQ because we want to be able to
  # use SMP without IRQs as APIC is used to start processors
  provide CONFIG_DRIVER_ICU
  provide CONFIG_DRIVER_ICU_IPI
  parent CONFIG_DEVICE
%config end

%config CONFIG_DRIVER_ICU_APIC_IOAPIC
  desc enable use of intel IO-APIC, replace old intel 8259 PIC
  depend CONFIG_HEXO_IRQ
  parent CONFIG_DRIVER_ICU_APIC
  exclude CONFIG_DRIVER_ICU_8259
  
  # not implemented yet
  exclude CONFIG_DRIVER_ICU_APIC_IOAPIC
%config end

